<!DOCTYPE html>
<html>
  <%- include('./partials/head.ejs') %>
  <body class="home">
    <%- include('./partials/header.ejs') %>

    <main>
      <h2 class="home-title">
        Welcome to Inventory Application, <br />
        very basic Express website developed.
      </h2>

      <div class="data-count">
        <% if(error) {%>
        <p>Error getting dynamic content.</p>
        <% } else {%>
        <p>The Inventory Application has the following record counts:</p>
        <div class="count">
          <a href="/catalog/movies" class="btn">
            <%= data.movie_count %> Movies
          </a>
          <span>&</span>
          <a href="/catalog/genres" class="btn">
            <%= data.genre_count %> Genres
          </a>
        </div>
        <% } %>
      </div>
    </main>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
