<!DOCTYPE html>
<html>
  <%- include('../partials/head.ejs') %>
  <body class="genre-detail">
    <%- include('../partials/header.ejs') %>

    <main>
      <h2><%= title %></h2>
      <h3><%= genre.name %></h3>
      <div class="genre-movies">
        <% if(genre_movies.length) {%> <% genre_movies.forEach((movie) =>{%>
        <a href="<%= movie.url %> " class="movie-card">
          <img
            src="/images/<%= movie.imageUrl|| 'placeholder-image.jpeg' %>"
            alt="<%= (typeof movie.imageUrl !== 'undefined') ? movie.title : 'No image available' %>"
          />

          <i class="fa-solid fa-circle-play"></i>
          <div class="movie-text">
            <h3 class="movie-title"><%= movie.title %></h3>
            <p class="movie-release-date"><%= movie.releaseDate %></p>
          </div>
        </a>
        <% }) %> <% } else { %>
        <p>This genre has no movies</p>
        <% } %>
      </div>
      <a href="<%=genre.url%>/update" class="btn btn-update">Update</a>
      <a href="<%=genre.url%>/delete " class="btn btn-delete">Delete</a>
    </main>

    <%- include('../partials/footer.ejs') %>
  </body>
</html>
